<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Account sign up</title>
</head>
<body>
<form class="new_account_form" method="post" action="inc/noob.php">
    <div>Username: <input type="text" name="username" /></div>
    <div>Password: <input type="password" name="password" /></div>
    <div>Confirm Password: <input type="password" name="confirm" /></div>
    <div>E-mail: <input type="text" name="email" /></div>
    <div>Confirm E-mail:<input type="text" name="email2" /></div>
    <div><input type="submit" value="Done" name="submit" /><a href="lobby.php"> Cancel</a></div>
</form>
</body>
</html>